//==================================================================
.header {
	padding: 30px 0 10px 0;
	//<Fixed header>
	position: fixed;
	top:0;
	left:0;
	z-index: 50;
	background-color: $bgColor;
	width:100%;
	@media (max-width: $md3) {
		padding: 20px 0 10px 0;
	}
	&__nav {
		display: flex;
    	margin: 0px -2px 0 -2px;
    	@media (max-width: $md3) {
			padding: 0px -2px 0 -2px;
		}
	}
	&__button {
		flex: 0 1 200px;
		margin: 0px 2px;
		background-color: #959595;
		color: #fff;
		font-size: 15px;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		@media (max-width:$md3) {
		  flex: 0 1 100%;
		}
   		&._active {
     		background-color: #f15538;
    	}
	}
}
//==================================================================