//<NULLSTYLE>==================================================================
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-size:inherit;
	font-weight: inherit;
}
nav,
footer,
header,
section,
aside {
	display: block;
}
html, 
body {
	height:100%;
	width:100%;
	margin: 0;
	padding: 0; 
	position:relative;
	min-width: $minWidth;
}
body {
	line-height: 1px;
	font-family: $fontFamily;
	font-size: $fontSize;
	color: $fontColor;
	background-color: $bgColor;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%; 
	-webkit-text-size-adjust:100%;
	overflow-y: scroll;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
input, button, textarea {
	font-family:$fontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
a, a:visited, a:hover {
	text-decoration: none;
}
ul, 
li { 
	list-style: none;
}
img { 
	vertical-align: top;
}
//============================================================================
