//<FONTS>============================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//<VARIABLES>========================================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontSize: 14px;
$fontColor: #818181;
$bgColor: #eeeeee;
//container
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
//@media
$md1: $maxWidthContainer+20;
$md2: 991.98px;
$md3: 767.98px;           
$md4: 479.98px; 
//header height
$headerHeight: 81px;
$headerHeightMd3: 71px;
//<CONTAINERS>=====================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  @media (max-width: $md1) {max-width: 970px;}
  @media (max-width: $md2) {max-width: 750px;}
  @media (max-width: $md3) {max-width: none; padding: 0 10px;}
}  
//<FILES>=========================================================================================================
@import "_nullstyle.scss";
@import "_header.scss";
//<MAIN>==========================================================================================================
.title {
  padding: 10px 0 10px 0;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 4px;
  @media (max-width:$md3) {
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 2px;
  } 
}
.tab-page {
  display: none;
  &._active{
    display: block;
    padding: $headerHeight 0 0 0;
    margin: 0 0 50px 0;
    @media (max-width: $md3) {
      padding: $headerHeightMd3 0 10px 0;
      margin: 0 0 40px 0;
    }
  }
}
.search {
  &__body {
    display: flex;
    margin: 0 0 10px 0;
  }
  &__item {
    &--1{
      display: flex;
      justify-content: center; 
      align-items: center;
      flex: 1 1 auto;
      &:before {
        content: '';
        background: url('../img/loupe.svg') no-repeat;
        width: 30px;
        height: 22px;
      }
    }
  }
  &__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: #fff;
    color: #959595;
    font-size: 15px;
  }
  &__button {
    display:inline-block;
    background-color: #f15538;
    color: #fff;
    line-height: 40px;
    font-size: 17px;
    padding: 5px 30px;
    font-family: $fontFamily;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    transition: all 0.6s ease 0s;
    &:hover {
      opacity: 0.8;
    }
    @media (max-width:$md3) {
      font-size: 15px;
    }
  }
}
.images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  &__column {
    flex: 0 0 25%;
    overflow: hidden;
    @media (max-width:$md2) {
      flex: 0 0 50%;
    }
    @media (max-width:$md3) {
      flex: 0 0 100%;
    }
  }
  &__item {
    padding: 5px;
    background: #fff;
    margin: 5px 5px;
    position: relative;
  }
  &__img {
    display: inline-block;
    width: 100%; 
  }
  &__label {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 40px;
    width: 40px;
    z-index: 2;
    transition: all 0.3s ease 0s;
    &-heart {
      background-image: url('../img/favorite.svg');
      &._active {
        background-image: url('../img/favorite_act.svg');
      }
    }
    &-cross {
      background-image: url('../img/clear.svg');
    }
  }
}