<header class="header">
	<div class="header__content container">
		<nav class="header__nav">
			<div class="header__button _active" id="tab-home">Home</div>
			<div class="header__button" id="tab-favourite">Favourite</div>
		</nav>
	</div>
</header>